<div class="forgot-container">
  <div class="card shadow-sm p-4">
    <h2 class="text-center mb-3">Restablecer contraseña</h2>

    <p class="text-muted text-center mb-4">
      Ingresa tu correo y te enviaremos un código de verificación.
    </p>

    <form (ngSubmit)="enviarCodigo()">
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="tucorreo@ejemplo.com" />
      </div>

      <!-- Mensajes -->
      <div *ngIf="errorMsg" class="alert alert-danger py-2 text-center">
        {{ errorMsg }}
      </div>
      <div *ngIf="okMsg" class="alert alert-success py-2 text-center">
        {{ okMsg }}
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Enviar código
      </button>
    </form>
  </div>
</div>


<app-reusable-dialog
  [visible]="dialogVisible"
  titulo="Código de verificación"
  [mensaje]="'Tu código temporal de recuperación es: ' + codigoGenerado"
  textoAceptar="Ir a verificar código"
  textoCancelar="Cerrar"
  tipo="primary"
  (aceptar)="irAVerificar()"
  (cancelar)="cerrarModal()">
</app-reusable-dialog>