
<div class="tabla-wrapper">
  <div class="tabla-card">

    <!--<h2 class="tabla-title">Listado de Libros</h2>-->

    <table class="tabla-modern">
      <thead>
        <tr>
          @for (col of columnas; track $index) {
            <th>{{ col.label }}</th>
          }
        </tr>
      </thead>

      <tbody>
        @for (fila of pageActual(); track $index) {
          <tr (click)="onFilaClick(fila)" class="row-hover">

            @for (col of columnas; track $index) {
              <td>

                <ng-container [ngSwitch]="col.key">

                  
                  <span *ngSwitchCase="'estadoActivo'">
                    <span class="estado-pill" [class.activo]="fila.estadoActivo" [class.inactivo]="!fila.estadoActivo">
                      {{ fila.estadoActivo ? 'Activo' : 'Inactivo' }}
                    </span>
                  </span>

                 
                  <span *ngSwitchCase="'action'" class="acciones">
                    <button class="btn-icon view" (click)="Onview(fila, $event)">
                      <i class="bi bi-eye-fill"></i>
                    </button>

                    <button class="btn-icon edit" (click)="OnEditClick(fila, $event)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button class="btn-icon delete" (click)="onEliminarClick(fila, $event)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </span>

                  
                  <span *ngSwitchDefault>
                    @if (col.key === 'genre') {
                      {{ obtenerGeneroNombre(fila[col.key]) }}
                    } @else {
                      {{ fila[col.key] }}
                    }
                  </span>

                </ng-container>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <nav class="pagination-modern">
      <button class="page-btn" [disabled]="page === 1" (click)="setPage(page - 1)">Anterior</button>

      @for (p of [].constructor(totalPaginas()); track $index) {
        <button class="page-number" [class.active]="page === ($index + 1)" (click)="setPage($index + 1)">
          {{ $index + 1 }}
        </button>
      }

      <button class="page-btn" [disabled]="page === totalPaginas()" (click)="setPage(page + 1)">Siguiente</button>
    </nav>

     </div>
</div>


